

nav{
    background-color: #0A1F3E;
   
}
a{
    color: white;
}
img{
    width: 60px;
}
menu{
    display: flex;
    align-items: center;
}
.cima{
    text-align: center;
    background-color:white;
    border-radius: 15px;
    color: #0A1F3E;
}